﻿@using Rando.Models

@model Rando.Models.Randos

@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

    <label>Numbers</label>
    @if (Model.Numbers.Count > 0)
    {
        <ul>
        foreach (RandoModel n in Model.Numbers)
        {
            <li>
                @using (@Html.BeginForm("","Home",FormMethod.Post))
                {
                <span>Html.TextBoxFor(x=> n.MyNumber);</span>
                @*Html.Hidden(n.numID);*@
                 <input type="submit" value="Edit" />
                }

                @using(@Html.BeginForm("","Home",FormMethod.Post))
                {
                    @*@Html.Hidden(n.numID);*@
                    <input type="submit" value="Delete" />
                }
            </li>
        }
        </ul>
    }


@using (@Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
{    
    @Html.LabelFor(x => x.rando.MyNumber);
    <label>@Model.rando.MyNumber</label>

    @Html.Hidden("NumID",Guid.NewGuid().ToString());
    
    <input type="submit" value="Get a Number"/>
}


@using (@Html.BeginForm("SaveNum", "Home", FormMethod.Post))
{
    <input type="textbox" name="MyNumber">
    @Html.Hidden("NumID",Guid.NewGuid().ToString());
    
    <input type="submit" value="Save My Number" />
}
